/* stylelint-disable selector-class-pattern */
// Override styles for
.hcb_wrap {
  &.hcb_wrap {
    .prism {
      border-radius: .75rem;
    }
    .hcb-clipboard {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      background: none;
      opacity: 0;
      transition: .2s;
      &::after {
        position: absolute;
        top: 1px;
        right: 0;
        display: block;
        width: 2rem;
        height: 2rem;
        font-family: bootstrap-icons, sans-serif;
        font-size: 1.25rem;
        color: rgba(255, 255, 255, .7);
        text-align: center;
        content: "\f290";
      }
      &.-done {
        background: none;
        &::after {
          content: "\f28B";
        }
        &::before {
          position: absolute;
          top: -1.5rem;
          bottom: 100%;
          display: inline-block;
          width: initial;
          height: 1.5rem;
          padding: 0 .5rem;
          font-family: Arial, Helvetica, sans-serif;
          font-size: .9rem;
          line-height: 1.5;
          color: #fff;
          content: "Copied!";
          background: #000;
          border-radius: .25rem;
        }
      }
    }
    &:hover {
      .hcb-clipboard {
        opacity: 1;
      }
    }
    .prism[data-file] {
      margin-top: 4rem;
      border-radius: 0 .75rem .75rem;
      &::before {
        top: -2rem;
        right: initial;
        left: 0;
        padding: 0 .75rem;
        font-family: var(--hcb-font-family);
        font-size: .8rem;
        line-height: 2rem;
        background: #4d4e47;
        border-radius: .5rem .5rem 0 0;
      }
    }
  }
}
