// Add your styles here.

/* Support 100vh for mobile */
html,
body {
  min-height: 100vh;
  min-height: fill-available;
}

#page {
  min-height: 100vh;
  min-height: fill-available;
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
