// Override BootStrap variables.

$primary: #ff5a6a;
$cyan: #29abe2;

$bootstrap-icons-font-dir: "../fonts";

$text-muted: rgba(0, 0, 0, .5);
$dark: #000;
$body-color: #343a40;

$font-family-sans-serif: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic",
  "Meiryo", sans-serif;
$bootstrap-icons-font-dir: "../fonts";

$headings-line-height: 1.4;
$line-height-base: 1.8;
$line-height-sm: 1.3;
$line-height-lg: 2;

$rfs-base-value: .9375rem;
$font-size-base: .9375rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

$blockquote-font-size: $font-size-base * 1.1;

$headings-color: $dark;
$headings-font-weight: 500;

$btn-disabled-opacity: .9;

$border-radius-xl: .75rem;

$badge-padding-y: .65em;
$badge-padding-x: .65em;

$global-header-height: 70px;
$global-header-height-lg: 90px;

$navbar-toggler-padding-y: .25rem;
$navbar-toggler-padding-x: .25rem;
$navbar-toggler-font-size: 2rem;
$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-border-color: transparent;
